h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New';
    font-weight: bold;
}

p {
    font-size: 35px;
    text-align: center;
    background-color: lightgray;
    font-family: 'Courier New';
}
.list{
    background-color:#59146B;
    font-size: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}