h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New';
    font-weight: bold;
}

p {
    font-size: 40px;
    text-align: center;
    background-color: lightblue;
    font-family: 'Courier New';
    font-weight: bold;
    padding: 10px;
}

.list {
    background-color: purple;
    width: 550px;
    margin: auto;
    border: 5px solid black;
    padding: 5px;
    font-size: 40px;
    color: white;
    font-family: 'Courier New';
}